:root{
  --animate-transition-duration: 1s;
  --animate-transition-delay: 0s;
}
[class*=animate--]{transition: all 0s; transition-delay: 0s;
  &.show{transition-duration: var(--animate-transition-duration); transition-delay: var(--animate-transition-delay);}
}

.animate--stack{
  --stack-delay: 0.25s;
  @for $index from 1 through 9{
    // .stack--#{$index+1}{--animate-transition-delay: #{0s + ($stack-delay*$index)};}
    .stack--#{$index+1}{--animate-transition-delay: calc(0s + (var(--stack-delay) * #{$index}));}
  }
  &.show{
    [class*=animate--]{@extend .show;}
  }
}

.animate--slideFromLeft{transform: translateX(-100%);
  &.show{transform: translateX(0);}
}
.animate--slideFromRight{transform: translateX(100%);
  &.show{transform: translateX(0);}
}
.animate--slideFromTop{transform: translateY(-100%);
  &.show{transform: translateY(0);}
}
.animate--slideFromBottom{transform: translateY(100%);
  &.show{transform: translateY(0);}
}
.animate--fadeIn{ opacity: 0; filter: blur(5px);
  &.show{opacity: 1;filter: blur(0px);}
}
.animate--scaleUp{ scale:0;
  &.show{scale:1;}
}


@media(prefers-reduced-motion){
  [class*=animate--]{transition: none;}
}
